<!DOCTYPE html>
<html>
  <head>
    <title>MoolahMeerkat</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <%= debug current_user %>
    <!-- <div class="container"> -->
        <div id="user_nav">
        <% if current_user %>
          Signed in as <strong><%= current_user.first_name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer'%>
    <!-- </div> -->
  </body>
</html>
