<img src=<%= @user.photo_url %>>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2><%= @user.total_savings %></h2>
<ul>
  <% @user.goals.each do |goal| %>
    <ul>
      <li><%= goal.name %></li> 
      <li><%= goal.description %> by <%= goal.deadline %></li>
      <li><%= goal.balance(@user.id) %></li>
    </ul>
  <% end %>
</ul>
