<div class="well">
  <form role="form">
    <div class="form-horizontal">
      <div class="input-group">
      <%= form_for [:user, @goal], :html => { :class => "form-horizontal"} do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="input-group">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>   

      <div class="input-group">
        <%= f.label :final_amount %>
      <span class="input-group-addon">$</span>
        <%= f.text_field :final_amount %>
      </div>

      <div class="input-group">
        <%= f.label :deadline %>
        <%= f.date_field :deadline %>
      </div>
        <%= f.submit %>
      <% end  %>  
    </div>
  </form>
</div>
