<div class="container">
  <ul>
    <li>Goal name: <%= @goal.name %></li>
    <li>Goal amount: $<%= @goal.final_amount %></</li>
    <li>Description: <%= @goal.description %></li>
    <li>Deadline: <%= @goal.transform_date %></li>
  </ul>  

  <h3>Your current savings: $<div class="balance"><%= @goal.balance(@current_user.id) %></div></h3>

  <center>

  <div class="coin">
    <img id="draggable" src="http://www.greatnorthernprepper.com/wp-content/uploads/2012/11/Canadian-Gold-Maple-Leaf-Coin.png" height="80" width="80">
  </div>

</center>

  <div id="droppable">
    <img alt="money-image" class="pig" src="http://cminfo.ca/wp-content/uploads/2013/07/smart-piggy-bank.jpg" style="margin-top: 10px" width="250px" height="250px"/>
  </div>
  
  <div class="well">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @goal.progress(@current_user) %>">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
  </div>



<!-- Modal Transaction -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Save some MOOLAH!</h4>
        </div>

          <div class="modal-body">
              
              <center>
              <%= form_tag user_goal_transactions_path(@current_user, @goal), :action => :post, :html => {:class => 'form',:role => 'form'} do %>

                <div class="form-transaction">
                  <%= text_field_tag :description, nil, {placeholder: "description", class: 'field'} %></br>
                </div>

                <div class="form-group">
                   <%= text_field_tag :amount, nil, {placeholder: "amount", class: 'field'} %></br>  
                </div>
    

          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag nil, class: "btn btn-primary" %>
          <% end %>
        </center>
       </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- Modal Penguin -->
  <div class="modal fade" id="penguin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">IT WORKS!</h4>
        </div>

          <div class="modal-body">
              
            
          <h1>IT WORKS!</h1>
          <img class="aimage" src="<%= image_path 'penguin.gif' %>"/>

          </div>
       </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- Modal Meerkat -->

  <div class="modal fade" id="meerkat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">IT WORKS!</h4>
        </div>

          <div class="modal-body">
              
            
          <h1>IT WORKS!</h1>
          <img class="aimage" src="<%= image_path 'meerkat.gif' %>"/>

          </div>
       </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Modal Gorilla -->

    <div class="modal fade" id="gorilla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">IT WORKS!</h4>
        </div>

          <div class="modal-body">
              
            
          <h1>IT WORKS!</h1>
          <img class="aimage" src="<%= image_path 'gorilla.gif' %>"/>

          </div>
       </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Modal Yak -->

    <div class="modal fade" id="yak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">IT WORKS!</h4>
        </div>

          <div class="modal-body">
              
            
          <h1>IT WORKS!</h1>
          <img class="aimage" src="<%= image_path 'yak.gif' %>"/>

          </div>
       </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

<script>
var oldAchievement = <%= @oldAchievement.length %>
   window.onload = function() {
       $( "#draggable" ).draggable();
       $( "#droppable" ).droppable({
         drop: function() {
           $('#draggable').fadeOut(200);
           $('#myModal').delay(400).modal('show');
         }
       });
      bindForm();
    }

    function bindForm() {
      $("form").on("submit", function(e) {
        e.preventDefault();
        var addedAmount = $("input#amount").val();
        var currentAmount = $(".progress-bar-success").data("currentAmount");

        $.ajax({
          url: "<%= user_goal_transactions_path(@current_user, @goal) %>",
          type: "POST",
          data: "transaction[" + $(this).serialize(),
          context: this,
          success: function(response){ calcAchievements(response); updateProgress(addedAmount); }
        });
      });
    }

    function updateProgress(addedAmount) {
      var newSavings = (parseFloat(addedAmount)  + <%= @goal.balance(@current_user.id) %>);
      var percentage = ((newSavings / <%= @goal.final_amount %> ) * 100) + "%";


      var $progress = $('.progress-bar');
      $progress.css("width", percentage);
      $('#myModal').modal('hide');
      $('#draggable').fadeIn(200);
      $('#draggable').css("top", "50px");

      var $balance = $('.balance');
      $balance.html(newSavings);
    }

    function calcAchievements(response){
      var json_response = response;
      var json_achievement = json_response[1].length
      var i = json_response[1].length - 1
      if (json_achievement >= 1) {
        var achievementName = json_response[1][i].name
        if (oldAchievement < json_achievement) {
          showModal(achievementName);
        }
      }

    }

    function showModal(achievementName){
    switch (achievementName) {
      case "Penguin":
        $('#penguin').modal('show');
        break;
      case "Meerkat":
        $('#meerkat').modal('show');
        break;
      case "Gorilla":
        $('#gorilla').modal('show');
        break;
      case "Yak":
        $('#yak').modal('show');
        break;
      default:
        break;
      }
    }

</script>





