<div class="well">
<%= form_for [@current_user, @goal], :action => :create, :html => {:class => 'form',:role => 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :name %></br>
    <%= f.text_field :name, :class => 'field' %></br>
  </div>

  <div class="form-group">
    <%= f.label :description %></br>
    <%= f.text_field :description, :class => 'field' %></br>  
  </div>

  <div class="form-group">
    <%= f.label :photo_url %></br>
    <%= f.text_field :photo_url, :class => 'field' %></br>  
  </div>

  <div class="form-group">
    <%= f.label :final_amount %></br>
    <%= f.text_field :final_amount, :class => 'field' %></br>
  </div>

  <div class="form-group">
    <%= f.label :deadline %></br>
    <%= f.date_field :deadline, :class => 'field' %></br>
  </div>

  <h4>Add your friends to this goal:</h4>
      <% @current_user.friends.each do |friend| %>
   <div class="checkbox" style="text-align: left !important; position: relative !important; left: 250px">
     <label>
       <%= "#{friend.first_name} #{friend.last_name}" %> 
       <input type="checkbox" class="input_checkbox" name="<%= friend.id %>" value="blah" style="display:block" style="position: relative !important; left: 80px">
     </label>
    </div>
    <% end %>
  

 <br>
 <br>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end  %> 
  
</div>