<div class="well">
<%= form_for [@current_user, @goal], :action => :create, :html => {:class => 'form',:role => 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :name %></br>
    <%= f.text_field :name, :class => 'field' %></br>
  </div>

  <div class="form-group">
    <%= f.label :description %></br>
    <%= f.text_field :description, :class => 'field' %></br>  
  </div>

  <div class="form-group">
    <%= f.label :photo_url %></br>
    <%= f.text_field :photo_url, :class => 'field' %></br>  
  </div>

  <div class="form-group">
    <%= f.label :final_amount %></br>
    <%= f.text_field :final_amount, :class => 'field' %></br>
  </div>

  <div class="form-group">
    <%= f.label :deadline %></br>
    <%= f.date_field :deadline, :class => 'field' %></br>
  </div>

  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span style="color: black !important">ADD FRIENDS</span></a>
      </h4>
    </div>
    
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="btn-group-vertical" data-toggle="buttons">
          <% @current_user.friends.each do |friend| %>
            <label class="btn btn-primary">
              <input type="checkbox" name="<%= friend.id %>" value="blah">
              <%= "#{friend.first_name} #{friend.last_name}" %> 
            </label>
        <% end %>
        </div>
      </div> 
    </div>

  </div>
  </div>
  <br/>
 
  <%= f.submit nil, class: "btn btn-primary" %>
<% end  %> 
  
</div>