
<li class="activity"><%= activity.owner.first_name %> <%= activity.owner.last_name %> Just Saved <%= activity.trackable.amount %> On <%= activity.trackable.description %> For the Goal <%= activity.trackable.goal.name %> </li>