<li class="activity">
  <img class="newsfeed_img" src="<%= @user.photo_url %>"><%= activity.owner.first_name %> 
  saved 
  $<%= number_with_delimiter(activity.trackable.amount) %>!   
  <%= activity.trackable.description %>! For goal?!  
  <%= link_to activity.trackable.goal.name, user_goal_path(@user,@goal)  %> ! How will you save MOOLAH today? </li>